<nav class="nav-primary" role="navigation" >
    <ul>
        <li {% if "/ubrusy.html" == page.url %}class="active"{% endif %}><a href="/ubrusy.html">Ubrusy</a></li>
        <li {% if "/zastery.html" == page.url %}class="active"{% endif %}><a href="/zastery.html">Zástěry</a></li>
        <li {% if "/doplnky.html" == page.url %}class="active"{% endif %}><a href="/doplnky.html">Doplňky</a></li>
        <li {% if "/vzornik.html" == page.url %}class="active"{% endif %}><a href="/vzornik.html">Vzorník</a></li>
    </ul>
</nav>