*{
        box/sizing: border-box;
}
h1{
    background-color: #33BEBE;
    color: white;
    font-size: 30px;
}
.app{
    display:flex;
}
.screenshot{
        width: 30%;
        margin-right: 20px;
}