<!DOCTYPE html>
<html lang="en">
	{% include header.html %}
	<body>
		<div class="container">
			{% include banner.html %}
			<div class="row">
				<div class="col-md-12">
            		{% include navigation.html %}
				</div>
			</div>
			<div>
				<div class="row">
					<div class="col-md-3">
	        			<img class="img-responsive" src="img/zasteraw.jpg" alt="zástery">
	        			<p>První zástěra</p>
	    			</div>
	    			<div class="col-md-3">
	        			<img class="img-responsive" src="img/kolekcew.jpg" alt="zástery">
	        			<p>Druhá zástěra</p>
	    			</div>
	    			<div class="col-md-3">
	        			<img class="img-responsive" src="img/zasteraw.jpg" alt="zástery">
	        			<p></p>
	    			</div>
	    			<div class="col-md-3">
	        			<img class="img-responsive" src="img/zasteraw.jpg" alt="zástery">
	        			<p></p>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-3">
	        			<img class="img-responsive" src="img/zasteraw.jpg" alt="zástery">
	        			<p></p>
	    			</div>
	    			<div class="col-md-3">
	        			<img class="img-responsive" src="img/zasteraw.jpg" alt="zástery">
	        			<p></p>
	    			</div>
	    			<div class="col-md-3">
	        			<img class="img-responsive" src="img/zasteraw.jpg" alt="zástery">
	        			<p></p>
	    			</div>
	    			<div class="col-md-3">
	        			<img class="img-responsive" src="img/zasteraw.jpg" alt="zástery">
	        			<p></p>
	    			</div>
	    		</div>		
    		</div>
			{{content}}
			{% include footer.html %}
		</div>
	</body>
</html>